.main-contato-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    color: #110D0F;
    margin-bottom: 12px;
    margin-right: 378px;
}